<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/tx
      					http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<!-- MVC Configs -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler/>
	
	<!-- Context Configs -->
	<context:annotation-config />
	<context:component-scan	base-package ="br.com.carlos.mangaorganizer.*" annotation-config="true"/>
	
	
	<!-- Beans Configs -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Entity Manager -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		  <property name="dataSource" ref="mysqlDataSource"/>
		  <!--  <property name="persistenceUnitName" value="mangaorganizer" />-->
		  <property name="jpaVendorAdapter" >
				<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />		  
		  </property>
	</bean>
	
	<!-- DataSource MySQL -->
	<bean id="mysqlDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost/mangaorganizer" />
		<property name="user" value="root" />
		<property name="password" value="rosielkun" />
				
		<!-- C3P0 Properties -->
		<property name="initialPoolSize" value = "5" />
	</bean>
	
	<!-- Transaction Manager (Passando o controle das transações para o Spring) -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- Habilitando o controle de transanções por anotação -->
	<tx:annotation-driven/>
	
			
</beans>